<div class="row">
  <div class="col-xs-12">
    <a href="<%= lists_path %>" class="btn btn-default" role="button">
      <span class="glyphicon glyphicon-home"></span>
    </a>
    <a href="<%= new_list_item_path(@list) %>" class="btn btn-default pull-right" role="button">
      <span class="glyphicon glyphicon-plus"></span>
    </a>
    <a href="#edit" class="btn btn-default pull-right spaced-button edit-mode-btn" role="button">
      <span class="glyphicon glyphicon-pencil"></span>
    </a>
  </div>
</div>