<h1>Shopping List</h1>

<div id="root" style="margin: 0px auto; padding: 10px;">
</div>
<script src="https://cdn.auth0.com/js/lock/10.0/lock.min.js"></script>
<script>
   var lock = new Auth0Lock('7X5UfblyHesbtF0CxCZrVvJ9oRckMIBR', 'lauraweston.eu.auth0.com', {
     container: 'root',
     theme: {
       logo: '/login.png'
     },
     languageDictionary: {
      title: "Login"
     },
     auth: {
       redirectUrl: '<%= request.base_url %><%= url_for controller: "auth0", action: "callback" %>',
       responseType: 'code',
       params: {
         scope: 'openid email' // Learn about scopes: https://auth0.com/docs/scopes
       }
     }
   });
   lock.show();
</script>