<div class="row">
    <div class="col-xs-12">
        <h1>New item</h1>
    </div>
</div>

<%= render 'form' %>

<div class="row">
    <div class="col-xs-12">
        <%= link_to 'Cancel', list_path(@list_id) %>
    </div>
</div>
